body {
    background-color: #f6e5dc;
    font-family: Verdana;
    
}
header {
    background-color: #2f180c;
    text-align: center;
    color: khaki;
    height: 60px;
}
.lewy{
    width: 60%;
    float: left;
}
.prawy{
    text-size-adjust: 150%;
    padding: 70px;
    float: left;
}
.dolny{
    background-color: #d0b6A8;
    text-align: center;
    padding: 30px;
    clear: both;
}
footer{
    background-color: #2f180c;
    color:khaki;
    height: 60px;
}
im{
    height: 350px;
}
button{
    margin: 10px;
    padding: 5px;
    color: khaki;
    background-color: #2f180c
}